<div class="right" style="display: block" id="email-block">
  <form action="/api/user/reset-password" method="post" class="p-2">
    <p id="error-message" style="display: none; color: red">
      Email not found. Please enter a registered email.
    </p>
    <div class="mb-3">
      <div class="input-group flex-nowrap">
        <span class="input-group-text">Email</span>
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="enter your email"
          aria-label="email"
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="email-submit">
      Submit
    </button>
  </form>
  <hr />
</div>

<div class="right" style="display: none" id="otp-block">
  <form action="/api/user/otp" method="post" class="p-2">
    <p style="color: green">OTP sent to email</p>
    <div class="mb-3">
      <div class="input-group flex-nowrap">
        <span class="input-group-text">OTP</span>
        <input
          type="text"
          name="otp"
          class="form-control"
          placeholder="enter your otp"
          aria-label="otp"
          id="otp"
          required
        />
      </div>
    </div>
    <p id="otp-err-message" style="display: none; color: red">Invalid otp</p>
    <button type="submit" class="btn btn-primary" id="otp-submit">
      Submit
    </button>
  </form>
  <hr />
</div>

<div class="right" style="display: none" id="new-password-block">
  <form action="/api/user/set-new-password" method="post" class="p-2">
    <p id="password-err-message" style="display: none; color: red">
      Passwords should be same
    </p>
    <p id="success-message" style="display: none; color: green">
      Password reset successfully
    </p>
    <div class="mb-3">
      <div class="input-group flex-nowrap">
        <span class="input-group-text">New Password</span>
        <input
          type="password"
          name="newPassword"
          class="form-control"
          aria-label="new-password"
          id="new-pwd"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group flex-nowrap">
        <span class="input-group-text">Confirm New Password</span>
        <input
          type="password"
          name="confirmNewPassword"
          class="form-control"
          aria-label="confirm-new-password"
          id="confirm-new-pwd"
          required
        />
      </div>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary me-2" id="password-submit">
        Submit
      </button>
      <a href="/" style="text-decoration: none"
        ><button
          type="button"
          class="btn btn-secondary"
          id="login-btn"
          style="display: none"
        >
          Login
        </button></a
      >
    </div>
  </form>
  <hr />
</div>

<script>
  const emailBlock = document.getElementById("email-block");
  const otpBlock = document.getElementById("otp-block");
  const passwordBlock = document.getElementById("new-password-block");
  const emailSubmitBtn = document.getElementById("email-submit");
  const otpSubmitBtn = document.getElementById("otp-submit");
  const passwordSubmitBtn = document.getElementById("password-submit");
  const otpValue = document.getElementById("otp");

  const errMsg = document.getElementById("error-message");
  const otpErrMsg = document.getElementById("otp-err-message");
  const passwordErrMsg = document.getElementById("password-err-message");

  let mailId;

  emailSubmitBtn.addEventListener("click", async (event) => {
    event.preventDefault();
    const emailInput = document.querySelector("input[name='email']").value;
    try {
      const response = await fetch(
        `http://localhost:3000/api/user/reset-password`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email: emailInput }),
        }
      );
      const data = await response.json();
      if (data.success) {
        mailId = data.email;
        emailBlock.style.display = "none";
        otpBlock.style.display = "block";
        passwordBlock.style.display = "none";
      } else {
        mailId = "";
        errMsg.style.display = "block";
      }
    } catch (err) {
      console.log(`Error: ` + err.message);
    }
  });

  otpSubmitBtn.addEventListener("click", async (event) => {
    event.preventDefault();
    otpInput = otpValue.value;
    try {
      const response = await fetch(
        `http://localhost:3000/api/otp/verify-otp`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ otp: otpInput, mail: mailId }),
        }
      );
      const data = await response.json();
      console.log(data);
      if (data.success) {
        emailBlock.style.display = "none";
        otpBlock.style.display = "none";
        passwordBlock.style.display = "block";
      } else {
        mailId = "";
        otpErrMsg.style.display = "block";
      }
    } catch (err) {
      console.log("Error: " + err.message);
    }
  });

  passwordSubmitBtn.addEventListener("click", async (event) => {
    event.preventDefault();
    const newPwd = document.getElementById("new-pwd").value;
    const confirmNewPwd = document.getElementById("confirm-new-pwd").value;
    try {
      const response = await fetch(
        `http://localhost:3000/api/user/set-new-password`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            mail: mailId,
            newPassword: newPwd,
            confirmNewPassword: confirmNewPwd,
          }),
        }
      );
      const data = await response.json();
      console.log(data);
      if (data.success) {
        emailBlock.style.display = "none";
        otpBlock.style.display = "none";
        passwordBlock.style.display = "block";
        document.getElementById("login-btn").style.display = "block";
        document.getElementById("success-message").style.display = "block";
        passwordErrMsg.style.display = "none";
        mailId = "";
      } else {
        document.getElementById("success-message").style.display = "none";
        mailId = "";
        passwordErrMsg.style.display = "block";
        passwordErrMsg.textContent = data.errorMessage;
      }
    } catch (err) {
      console.log("Error: " + err.message);
    }
  });
</script>
